<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <title>深圳航天工业技术研究院</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon"/>
  <% if (process.env.NODE_ENV == 'development') { %>
    <link rel="stylesheet" href="/css/datagrid.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="/css/zTreeStyle/zTreeStyle.css"/>
    <link rel="stylesheet" href="/js/timepicker/css/timepicker.css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/datagrid.min.js"></script>
    <script type="text/javascript" src="/js/datagrid.zh_cn.min.js"></script>
    <script type="text/javascript" src="/js/scrollTo.min.js"></script>
    <script type="text/javascript" src="/js/video.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="/js/timepicker/js/timepicker.js"></script>
  <% } %>
  <% if (process.env.NODE_ENV == 'production') { %>
    <link rel="stylesheet" href="/sample/static/css/datagrid.css"/>
    <link rel="stylesheet" href="/sample/static/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="/sample/static/css/zTreeStyle/zTreeStyle.css"/>
    <link rel="stylesheet" href="/sample/static/js/timepicker/css/timepicker.css"/>
    <script type="text/javascript" src="/sample/static/js/jquery.js"></script>
    <script type="text/javascript" src="/sample/static/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/sample/static/js/datagrid.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/datagrid.zh_cn.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/scrollTo.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/video.js"></script>
    <script type="text/javascript" src="/sample/static/js/react.production.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/react-dom.production.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/g2.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/g2-plugin-slider.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/date-set.js"></script>
    <script type="text/javascript" src="/sample/static/js/BizCharts.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="/sample/static/js/timepicker/js/timepicker.js"></script>
  <% } %>
</head>
<body>
<noscript>Sorry, we need js to run correctly!</noscript>
<div id="root"></div>
</body>
</html>
